{% extends "base.html" %}

{% block content %}
    <h2>Instruções:</h2>
    <ol>
        <li>Esse quiz tem como objetivo de te ajudar a coompreender os seus sentimentos.</li>
        <li>Você deve responder com sinceridade, sendo fiel ao que está sentindo.</li>
        <li>O quiz possui 12 questões de múltipla escolha.</li>
        <li>Esse quiz não é um diagnóstico, procure ajuda de um expecialista!</li>
        <li>Recomendado para maiores de 14 anos, caso não haja presença de um responsável.</li>
    </ol>
    <div style="text-align: center;"><a href="{{ url_for('quiz') }}">Iniciar Quiz</a></div>
{% endblock %}
