{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{{ url_for('quiz') }}">
        <div class="question">
            <span id="number">{{ question_number }}</span>
            <p>{{ question["question"] }}</p>
        </div>

        {% for option in question["options"] %}
            <label>
                <input type="radio" name="option" value="{{ loop.index0 }}" required>
                {{ option['text'] }}
            </label><br>
        {% endfor %}
        
        <div style="text-align: center;"><button type="submit">Próximo</button></div>
    </form>
{% endblock %}
