{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{{ url_for('quiz', question_index=question_index) }}">
        <p>{{ question["question"] }}</p>
        
        {% for option in question["options"] %}
            <label>
                <input type="radio" name="type" value="{{ option['type'] }}" required>
                {{ option['text'] }}
            </label><br>
        {% endfor %}
        
        <button type="submit">Próximo</button>
    </form>
{% endblock %}